#!/bin/sh /etc/rc.common

START=99
STOP=10

start() {
    echo "Starting wg-wormhole node..."
    /usr/bin/wg-wormhole node -a your.registry.domain.or.ip:1638 -t your_token
}

stop() {
    echo "Stopping wg-wormhole node..."
    killall wg-wormhole
}
