#!/bin/sh /etc/rc.common

START=99
STOP=10

start() {
    echo "Starting wg-wormhole registry..."
    /usr/bin/wg-wormhole registry -t your_token -i wg0
}

stop() {
    echo "Stopping wg-wormhole registry..."
    killall wg-wormhole
}
